nltk==3.2
psycopg2==2.6.1
rauth==0.7.2
SQLAlchemy==1.0.12
SQLAlchemy-searchable==0.10.0
flask==0.10.1
flask-Bootstrap==3.3.6.0
flask-Classy==0.6.10
flask-login==0.3.2
flask-mail==0.9.1
flask-openID==1.2.5
flask-SQLAlchemy==2.1
flask-WTF==0.12
