{% extends "base.html" %}
{% block content %}
  <h1>Hi, {{ g.user.nickname }}!</h1>
  <form action="" method="post" name="post">
      {{ form.hidden_tag() }}
      <table>
          <tr>
              <td>Say something:</td>
          </tr>
          <tr>
              <td>title</td>
              <td>{{ form.title(size=10, maxlength=40) }}</td>
              <td>body</td>
              <td>{{ form.post(size=30, maxlength=240) }}</td>
          </tr>
          <tr>
              <td></td>
              <td>
                  {% if form.title.errors %}
                      <span style="color: red;">{{ form.title.errors }}</span>
                  {% endif %}
              </td>
              <td></td>
              <td>
                  {% if form.post.errors %}
                      <span style="color: red;">{{ form.post.errors }}</span>
                  {% endif %}
              </td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Post!"></td>
              <td></td>
          </tr>
      </table>
  </form>
  {% for post in posts %}
      <p>
          {{ post.author.nickname }} says: <b>{{ post.body }}</b>
      </p>
  {% endfor %}
{% endblock %}