{% extends "base.html" %}
{% block content %}
  <h1>Hi, {{ g.user.nickname }}!</h1>
  <form action="{{ url_for('IndexView:post') }}" method="post" name="post">
      {{ form.hidden_tag() }}
      <table>
          <tr>
              <td>Say something:</td>
          </tr>
          <tr>
              <td>title</td>
              <td>{{ form.title(size=10, maxlength=40) }}</td>
              <td>body</td>
              <td>{{ form.post(size=30) }}</td>
          </tr>
          <tr>
              <td></td>
              <td>
                  {% if form.title.errors %}
                      <span style="color: red;">{{ form.title.errors }}</span>
                  {% endif %}
              </td>
              <td></td>
              <td>
                  {% if form.post.errors %}
                      <span style="color: red;">{{ form.post.errors }}</span>
                  {% endif %}
              </td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Post!"></td>
              <td></td>
          </tr>
      </table>
  </form>
  {% for post in posts.items %}
      <p>
          {% include 'post.html' %}
      </p>
  {% endfor %}
  {% if posts.has_prev %}<a href="{{ url_for('IndexView:get_0', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} |
  {% if posts.has_next %}<a href="{{ url_for('IndexView:get_0', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}
{% endblock %}