{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block content %}
  <h1>Hi, {% if g.user.nickname %}{{ g.user.nickname }}{% else %}{{ g.user.full_name }}{% endif %}!</h1>
  <div class="row">
    <div class="col-md-4">
        <h5>Say something:</h5>
        <form class="form" action="{{ url_for('IndexView:post') }}" method="post" role="form">
            {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.post) }}

            <div class="control-group">
                <input class="btn btn-primary" type="submit" value="Post">
            </div>
        </form>
    </div>
  </div>
  {% for post in posts.items %}
      <div class="row">
          <div class="col-md-12">
              {% include 'post.html' %}
          </div>

      </div>
  {% endfor %}



  {{render_pagination(posts)}}
{% endblock %}