<!-- extend base layout -->
{% extends "base.html" %}

{% from "bootstrap/pagination.html" import render_pagination %}

{% block content %}
<table>
    <tr valign="center">
        <td><img src="{% if user.picture %}{{user.picture}}{% else %}/static/pictures/no-avatar.png{% endif %}"></td>
        <td>
            <h3>User: {% if g.user.nickname %}{{ g.user.nickname }}{% else %}{{ g.user.full_name }}{% endif %}</h3>
        </td>
    </tr>
    <tr valign="center">
        <td></td>
        <td>
            {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
            {% if user.last_seen %}<p><i>Last seen on: {{user.last_seen}}</i></p>{% endif %}
            <p>{{user.followers.count()}} followers |
            {% if user.id == g.user.id %}
                <a href="{{url_for('UserView:get')}}">Edit your profile</a>
            {% elif not g.user.is_following(user) %}
                <a href="{{url_for('FollowView:get', user_id = user.id)}}">Follow</a>
            {% else %}
                <a href="{{url_for('UnfollowView:get', user_id = user.id)}}">Unfollow</a>
            {% endif %}
            </p>
        </td>
    </tr>

</table>
<hr>
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}

{{render_pagination(posts)}}
{% endblock %}